{% extends "emails/base.html" %}



{% block title %} Soundfa - Confirmation of reset passowrd {% endblock title %}



{% block content %}


    <h2>Password reset confirmation</h2>
    <p>Dear : {{username }}</p>
    
    <p>your password successfully reset</p>

    <p>This email sent to infrom you about you account changes</p>
    
    <p>If you have any question , please feel free and contact us on : {{ admin_email }}</p>
    <p><strong> The {{ site_name }} Team </strong></p>


{% endblock content %}