{% extends 'emails/base.html' %}
 


{% block title %}
    Soundfa - reset password 
{% endblock title %}


{% block content %}
    <p>Dear : {{ username }}</p>

    <p>This email has sent for you to reset your password.</p>
    <p>If you did'nt requested this code please ignore it.</p>

    <p>Your reset code for password is : <b>{{ code }} </b></p>
    
    <p>If you have any question , please feel free and contact us on : {{ admin_email }}</p>
    <p><strong> The {{ site_name }} Team </strong></p>

{% endblock content %}

